/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "open sans", sans-serif;
  color: black;
  background-color: white; }

/* -------------------------------- 

Modules - reusable container thanks to https://github.com/CodyHouse, codyhouse.co

-------------------------------- */
.wc-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }
  .wc-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

.announcement-section {
  background-color: #085a78;
  color: white;
  padding: 10px 0;
  height: 100%; }
  .announcement-section h5, .announcement-section p {
    line-height: 2em; }
  .announcement-section p {
    font-size: 12px; }
  .announcement-section a {
    color: white; }
  .announcement-section div.content {
    width: 80%;
    float: left;
    height: 80px; }
  .announcement-section div.action {
    width: 20%;
    float: left;
    display: table;
    vertical-align: middle;
    overflow: hidden;
    height: 80px;
    padding: 15px; }
    .announcement-section div.action a {
      text-align: center;
      padding: 15px 20px;
      overflow: hidden;
      display: table-cell;
      background-color: #007295;
      text-decoration: none; }
      .announcement-section div.action a:hover, .announcement-section div.action a:active, .announcement-section div.action a:focus {
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
        background-color: #00688b; }
    @media (max-width: 767px) {
      .announcement-section div.action {
        width: 100%;
        float: left;
        display: block; }
        .announcement-section div.action:after {
          content: "";
          display: table;
          clear: both; } }
