@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}

body {
    font: {
        size: 100%;
        family: $primary-font; // variables inside partials > _variables.scss
    }
    color: $color-black;
    background-color: $color-white;
}

/* -------------------------------- 

Modules - reusable container thanks to https://github.com/CodyHouse, codyhouse.co

-------------------------------- */

.wc-container { 
    width: 90%;
    max-width: $screen-lg; // breakpoints inside partials > _layout.scss
    margin: 0 auto;

    &::after { /* clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

.announcement-section {
    background-color: $color-1;
    color: $color-white;
    padding: 10px 0;

    height:100%;
    h5,p {line-height: 2em;}
    p {font-size: 12px;}
    a {color: $color-white;}
    div.content { 

        @include column(.8);
        height: 80px;
    }
    div.action { 
        @include column(.2);
        display:table;
        vertical-align:middle;
        overflow: hidden;
        height: 80px;
        padding: 15px 0;
        a {
            text-align:center;
            padding:15px 20px;
            overflow:hidden;
            display:table-cell;
            background-color: $color-2;
            text-decoration:none;
            &:hover, &:active, &:focus {
                @include transition(background .3s ease-in-out);
                background-color: $color-2 - 10;
            }
        }

        @include MQ(XS) {
            @include clearfix;
            @include column(1);
            display:block;
        }
    }
}
